*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }

   body{
    /* background: linear-gradient(rgb(28, 27, 36),rgb(92, 85, 92),#3d372e); */
    background-color: #000;
    font-family: monospace;
    height: 250vh;
}

   .navbar{
    width: 100%;
    height: 100px;
    font-family: monospace;
   
 }
 nav{
    background:linear-gradient(#000000,#00070c,#000000,#fffdfd);
    width: 100%;
    height: 15vh;
    position: fixed;
    z-index: 1;
 
 }
 
 
.product li{
    list-style: none;
    margin-bottom: 2em;
    margin-left: 20px;
   
}
 
.product .image{
    margin: 1em 0 0 2em;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    cursor:grab;
 
}
 
.product{
    width: 100px;
}
 
.fas{
    color: #fff;
    position: absolute;
    top: 100px;
    left: 0;
   
}
 
.dropdown{
    display: none;
    background-color: #fff;
    width: 120px;
    height: 200px;
    border-radius: 5px;
    margin-top: 50px;
   
}
 
 
.product:hover .dropdown{
    display: block;
   
}
 
 
.nav{
   
    font-size: 1rem;
    color: #000;
    text-decoration: none;
   
   
}
.main-nav ul{
    display: flex;
    justify-content: center;
    position: fixed;
    top: 30px;
    left: 90px;
}
.main-nav ul li{
    list-style: none;
   
}
 
.main-nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 1.1rem;
    margin-left: 1em;
   
}
.flex{
    display: flex;
    margin-left: 15em;
}

   
   
   
   .styled {
     background-color: black;
     border: 1px solid #fff;
     border-radius: 20px;
     box-sizing: border-box;
     color: white;
     cursor: pointer;
     display: inline-block;
     font-size: 12px;
     font-weight: 600;
     line-height: 2px;
     margin: 0;
     outline: none;
     padding: 10px 20px;
     text-align: center;
     text-decoration: none;
     margin-top: 50px;
     margin-left: 50px;
   }
   
   h1{
     font-size: 3.5em;
     color:rgb(125, 3, 125);
      margin-left: 50px;  
   }

   .cat{
       width: 100%;
       position: absolute;
       top: 50px;
       right: 10px ;
       animation-name:animation4;
       animation-duration: 3s;
       animation-iteration-count: 1;
   }

   @keyframes animation4{
    0%{right:250%;}
    100%{right:1%}
}
   
   .onboarding{
     color: aliceblue;
     font-size: 1.3em;
     
   }

   
   h2{
       color: white;
       font-size: 25px;
   }
   
   p{
       font-size: 25px;  
       margin-left: 50px;
   }
   
   em{
       font: 1em sans-serif;
   }
   
   .create{
       margin-left: 45px;
       margin-top: 55px;
   }


   .real-time{
      margin-left: 45px; 
      margin-top:55px;
   }
   
   .box {
    
       display: grid;
       grid-template-columns: 1fr 1fr;
       gap: 15px 2em;
       margin-top: 130px;
       
     }
   
   .box :first-child {
         align-self: center;
     }
   
   .box1{
       width: 45%;
       background-color:rgb(37, 37, 46);
       opacity: 0.9;
       color: white;
       border: 0.2px solid;
       border-color:aliceblue; 
       border-radius: 10px;
       height: 650px;
       margin-left: 20px;
       position: absolute;
       top: 250px;
       right: 665px;
       animation-name:animation7;
       animation-duration: 9s;
       animation-iteration-count: 1;

   }

   @keyframes animation7{
    0%{left:-150%;}
    100%{left:1%}
}

   
   .box2{
   background-color: rgb(37, 37, 46);
   opacity: 0.9;
   width: 45%;
   color: white;
   border: 0.2px solid;
   border-color:aliceblue; 
   border-radius: 10px;
   height: 650px;
   margin-right: 20px;
   position: absolute;
       top: 250px;
       right: 10px ;
       animation-name:animation9;
       animation-duration: 9s;
       animation-iteration-count: 1;

   }

   @keyframes animation9{
    0%{right:-150%;}
    100%{right:1%}
}
   
   .hover{
       display: inline-block;
       position: relative;
       color: white;
       margin-left: 45px; 
       margin-top: 30px;
   
     }
     
   .hover::after {
       content: '';
       position: absolute;
       width: 100%;
       transform: scaleX(0);
       height: 2px;
       bottom: 0;
       left: 0;
       background-color:white;
       transform-origin: bottom right;
       transition: transform 0.25s ease-out;
     }
     
   .hover:hover::after {
       transform: X(1);
       transform-origin: bottom left;
     }
   
   
   .img1{
    border-radius: 4px;
    width: 495px;
    float:right;
    padding-right: 60px;
    margin-top: 77px;
    border: 0.1px ridge;
    border-color:aliceblue; 
    
   }
   .img2{
   border-radius: 4px;
   height: auto;
   width: 480px;
   float: right;
   padding-top: 42px;
   margin-top: 40px;
   border: 0.1px ridge;
    border-color:aliceblue;
   }
   
   .styled2:hover {
     background-color:rgb(77, 77, 91);
   }
   



   .action-pic{
    width: 600px;
    height: 250px;
    position: absolute;
    top: 15%;
    right: 0;
    animation-name: animation3;
    animation-duration: 7s;
    animation-iteration-count: 1;
   }


@keyframes animation3{
   0% {top:-700%;}
   100%{top:15%;}
 }

   .bottom-box{
    position: relative;
   background-color: rgb(37, 37, 46);
   opacity: 0.9;
   color: white;
   border: 0.2px solid;
   border-color:aliceblue; 
   border-radius: 10px;
   margin-top: 20px;
   height: 400px;
   margin-left: 20px;
   margin-right: 20px;
   top: 700px;
   
   }

   