*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 



    body{
        background-color: #000;
        font-family: monospace;
        color: #fff;
        display: grid;
        place-items: center;
    }
    
.navbar{
    width: 100%;
    font-family: monospace;
   
 }
 nav{
    background:linear-gradient(#000000,#00070c,#000000,#fffdfd);
    width: 100%;
    height: 15vh;
    position: fixed;
    z-index: 999;
 
 }
 
 
.product li{
    list-style: none;
    margin-bottom: 2em;
    margin-left: 20px;
   
}
 
.product .image{
    margin: 1em 0 0 2em;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    cursor:grab;
 
}
 
.product{
    width: 100px;
}
 
/* .fas{
    color: #fff;
    position: absolute;
    top: 100px;
    left: 0;
   
} */
 
.dropdown{
    display: none;
    background-color: #fff;
    width: 120px;
    height: 200px;
    border-radius: 5px;
    margin-top: 50px;
   
}
 
 
.product:hover .dropdown{
    display: block;
   
}
 
 
.nav{
   
    font-size: 1rem;
    color: #000;
    text-decoration: none;
   
   
}
.main-nav ul{
    display: flex;
    justify-content: center;
    position: fixed;
    top: 30px;
    left: 90px;
}
.main-nav ul li{
    list-style: none;
   
}
 
.main-nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 1.1rem;
    margin-left: 1em;
   
}
.flex{
    display: flex;
    margin-left: 15em;
}


 .text{
     font-size: 1.5rem;
     padding: 5rem;
     position: absolute;
     top: 20px;
     left: 45px;
     animation-name: animation1;
     animation-duration: 6s;
     animation-iteration-count: 1;
 }
 @keyframes animation1{
    0% {top:-400%;}
    100%{top:25px;}
  }
  
  
 span{
     color: rgb(125, 3, 125);
 }
  
  
 .codespaces{
     width: 100%;
     display: flex;
     position: absolute;
     top: 125%;
     left: 0;
     right: 0;
     animation-name: animation3;
     animation-duration: 5s;
     animation-iteration-count: 1;
  
 }
 @keyframes animation3{
    0% {top:-400%;}
    100%{top:125%;}
  }
  
  
 .description{
    width: 50%;
    font-size: 1.5rem;
    padding-top: 2em;
    padding-left: 5em; 
    
 }
  
 a{
     color: #fff;
     text-decoration: none;
    
 }
  
  .image1{
    width: 80%;
    height: 70%;
    position: absolute;
    top: 250px;
    left: 130px;
    animation-name: animation2;
    animation-duration: 9s;
    animation-iteration-count: 1;
 }
  
 @keyframes animation2{
    from{left:-600%;}
      to{left:11%;}
}
 

#port{
    width: 400px;
    height: 200px;
   position: absolute;
   top: 100px;
   left: 650px;
   border-radius: 5px;

}

#open{
    width: 300px;
    height: 300px;
    position: absolute;
    top: -80px;
    right: 40px;
    border-radius: 5px;
}
